.page {
  padding: var(--spacing-xl);
}

.featuredSection {
  margin-top: 2rem;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}
